

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 85%;
  height: 80px;
  border-radius: 10px;
  border: 5px solid  #0A0A0A;
  background: #E3E3E3;

  .logo{
    width: 133px;
    height: 54px;
    margin:13px 20px;
  }
  .content{
    display: flex;
    flex-direction: row;
  }
 .pages{
   display: flex;
   flex-direction: row;
   gap: 25px;
   padding: 20px;
   font-size: 25px;
   font-family: "Schibsted Grotesk", sans-serif;;
 }

  .relogio{
    display: flex;
    margin: 0 20px  ;
  }
}