

$font-primary: "Schibsted Grotesk", sans-serif;



$color-off-white: #e3e3e3;
$color-black: #000000;
$color-noctorios-black: #0a0a0a;
$color-blue-1: #02192f;
$color-blue-2: #087af4;
$color-blue-3: #1a6dc7;
$color-blue-4: #5d8aa8;
$color-blue-5: #89abea;
$color-blue-6: #406093;
$color-blue-7: #293853;


